In [1]:
import pandas  as pd

In [8]:
df=pd.read_csv("Car.csv")
df=df.iloc[:,:3]
df

                Car Model  Mileage  Sell Price($)
0                  BMW X5    69000          18000
1                  BMW X5    35000          34000
2                  BMW X5    57000          26100
3                  BMW X5    22500          40000
4                  BMW X5    46000          31500
5                 Audi A5    59000          29400
6                 Audi A5    52000          32000
7                 Audi A5    72000          19300
8                 Audi A5    91000          12000
9   Mercedez Benz C class    67000          22000
10  Mercedez Benz C class    83000          20000
11  Mercedez Benz C class    79000          21000
12  Mercedez Benz C class    59000          33000

In [10]:
from sklearn.preprocessing import LabelEncoder
label=LabelEncoder()

In [12]:
dfle=df
dfle["Car Model"]=label.fit_transform(dfle["Car Model"])

In [15]:
dfle

    Car Model  Mileage  Sell Price($)
0           1    69000          18000
1           1    35000          34000
2           1    57000          26100
3           1    22500          40000
4           1    46000          31500
5           0    59000          29400
6           0    52000          32000
7           0    72000          19300
8           0    91000          12000
9           2    67000          22000
10          2    83000          20000
11          2    79000          21000
12          2    59000          33000

In [19]:
x=dfle[["Car Model","Mileage"]].values
x

array([[    1, 69000],
       [    1, 35000],
       [    1, 57000],
       [    1, 22500],
       [    1, 46000],
       [    0, 59000],
       [    0, 52000],
       [    0, 72000],
       [    0, 91000],
       [    2, 67000],
       [    2, 83000],
       [    2, 79000],
       [    2, 59000]])

In [22]:
y=dfle["Sell Price($)"].values
y

array([18000, 34000, 26100, 40000, 31500, 29400, 32000, 19300, 12000,
       22000, 20000, 21000, 33000])

In [36]:
from sklearn.model_selection import train_test_split

In [37]:
X_train,X_test,Y_train,Y_test=train_test_split(x,y,test_size=0.4)

In [40]:
from sklearn.linear_model import LinearRegression
reg=LinearRegression()

reg.fit(X_train.values,Y_train.values)

reg.predict(X_test)

In [43]:
reg.fit(X_train,Y_train)

LinearRegression()

In [44]:
reg.predict(X_test)

array([38472.75215206, 28441.50868289, 25751.67935513, 18322.35159477,
       10332.52226701, 44276.91446485])

In [48]:
reg.score(X_test,Y_test)

0.869525023855929